# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
.DS_Store
*.log
